*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.screen{
    display: flex;
    height: 100vh;
}

.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img{
    max-width: 500px;
    height: auto;
}

.rightside{
    width: 400px;
    background-color: #7f84d6;
    padding: 50px;
}

.rightside label{
    display: block;
    margin-bottom: 20px ;
}

.rightside input{
    width: 100%;
    border: 2px solid #575a89;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0px;
}

.error{
    font-size: 11px;
    background-color: #ff0000;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
}

.validator .btn{
    width: 300px;
    height: 40px;
    border: none;
    background: #323773;
    color: #fff;
    transition: 0.5s all ease-out;
}

.validator .btn:hover{
    background: transparent;
    border: 1px solid #323773;
    color: #000;
    transition: 0.5s all ease-out;
}